# ==============================================================================
# Python & C++ Compilation Artifacts (Package Level)
# ==============================================================================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.o
*.so
*.a

# ==============================================================================
# Local IDE and OS metadata
# ==============================================================================
.vscode/
.idea/
.DS_Store
Thumbs.db
