<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="plex_arm_5">

  <!-- ================================================================
       Macros
       ================================================================ -->

  <xacro:macro name="arm_link" params="name mass com_xyz ixx ixy ixz iyy iyz izz color:='0.75294 0.75294 0.75294 1'">
    <link name="${name}">
      <inertial>
        <origin xyz="${com_xyz}" rpy="0 0 0" />
        <mass value="${mass}" />
        <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://plex_arm_5/meshes/${name}.STL" />
        </geometry>
        <material name="">
          <color rgba="${color}" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://plex_arm_5/meshes/${name}.STL" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>

  <xacro:macro name="arm_joint" params="name parent child origin_xyz axis_xyz type:=continuous">
    <joint name="${name}" type="${type}">
      <origin xyz="${origin_xyz}" rpy="0 0 0" />
      <parent link="${parent}" />
      <child link="${child}" />
      <axis xyz="${axis_xyz}" />
    </joint>
  </xacro:macro>

  <!-- ================================================================
       Links
       ================================================================ -->

  <xacro:arm_link
    name="base_link"
    mass="0.39916"
    com_xyz="2.1342E-05 1.7312E-05 0.037561"
    ixx="0.00032484" ixy="2.4751E-08" ixz="2.1501E-07"
    iyy="0.00032522" iyz="2.018E-07" izz="0.00048667" />

  <xacro:arm_link
    name="link_2"
    mass="1.0133"
    com_xyz="-4.7496E-06 0.016265 0.055554"
    ixx="0.0014695" ixy="-2.7152E-07" ixz="-2.1886E-09"
    iyy="0.0014982" iyz="-0.00010509" izz="0.0013838"
    color="0.86667 0.9098 1 1" />

  <xacro:arm_link
    name="link_3"
    mass="1.3505"
    com_xyz="4.6264E-06 -0.056429 0.26786"
    ixx="0.0032253" ixy="2.6072E-07" ixz="-2.4663E-08"
    iyy="0.003211" iyz="-1.0067E-05" izz="0.0013126" />

  <xacro:arm_link
    name="link_4"
    mass="0.53981"
    com_xyz="0.080203 -0.03748 0.064231"
    ixx="0.00043584" ixy="6.5477E-07" ixz="-0.00011712"
    iyy="0.00066865" iyz="3.5007E-06" izz="0.00061192" />

  <xacro:arm_link
    name="link_5"
    mass="0.56411"
    com_xyz="0.00030394 0.00024838 0.25202"
    ixx="0.0011591" ixy="1.7103E-08" ixz="-1.8355E-06"
    iyy="0.0011689" iyz="5.1735E-07" izz="0.00028591" />

  <xacro:arm_link
    name="link_6"
    mass="0.20707"
    com_xyz="-0.019318 -0.020642 0.052559"
    ixx="7.1787E-05" ixy="3.075E-06" ixz="-1.223E-06"
    iyy="0.00015862" iyz="5.6476E-11" izz="0.00014095" />

  <xacro:arm_link
    name="EE_assembly"
    mass="0.55354"
    com_xyz="0.075691 0.0025698 -0.00023436"
    ixx="0.00065007" ixy="3.7444E-05" ixz="8.2603E-06"
    iyy="0.00045081" iyz="-4.5045E-07" izz="0.00077513" />

  <!-- ================================================================
       Joints
       ================================================================ -->

  <xacro:arm_joint
    name="joint_1"
    parent="base_link" child="link_2"
    origin_xyz="0 0 0.064"
    axis_xyz="0 0 1" />

  <xacro:arm_joint
    name="joint_2"
    parent="link_2" child="link_3"
    origin_xyz="0 0.0585 0.0632"
    axis_xyz="0 1 0" />

  <xacro:arm_joint
    name="joint_3"
    parent="link_3" child="link_4"
    origin_xyz="0 -0.006 0.4238"
    axis_xyz="0 -1 0" />

  <xacro:arm_joint
    name="joint_4"
    parent="link_4" child="link_5"
    origin_xyz="0.090416 -0.051 0.10538"
    axis_xyz="0.0011909 0 1" />

  <xacro:arm_joint
    name="joint_5"
    parent="link_5" child="link_6"
    origin_xyz="0.00038195 0.0312 0.32073"
    axis_xyz="0 1 0" />

  <xacro:arm_joint
    name="joint_6"
    parent="link_6" child="EE_assembly"
    origin_xyz="0.021875 -0.0313 0.059"
    axis_xyz="1 0 0" />

</robot>
